@model APT615.Models.Amenity

@{
    ViewData["Title"] = "Create";
}
<div class="landing-page">
    <div class="wrapper">
        <div class="page-header header-filter">
            <div class="page-header-image" style="background-image: url('../images/RooftopDeck.jpg');"></div>
            <div class="content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto text-center">
                            <h2 id="homeIntroP">Enter Any Amenities You Want Your Ideal Apartment To Have</h2>
                            <div class="card card-login card-plain">
                                <div class="card-body">
                                    <form asp-action="Create" class="form">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group input-lg">
                                            <input asp-for="Type" class="form-control form-control-lg text-center controls" placeholder="amenity (ex: High-Speed Internet)" />
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                        <div class="form-group card-footer text-center">
                                            <input type="submit" value="+ Amenity" class="btn btn-primary btn-round btn-sm btn-block brand" />
                                        </div>
                                    </form>
                                    <div>
                                        <a asp-action="Index">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
