@model APT615.Models.Amenity

@{
    ViewData["Title"] = "Details";
}

<div class="blog-post">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('..//apartmentDark.jpg') ;">
            </div>

            <div>
                <h4>Amenity</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.AmenityId">Edit</a> |
                <a class="text-primary text-center" href="/Apartments/TrackedApartments">Back to Dashboard</a>
            </div>
</div>
</div>