input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    opacity: .8;
}

#googleMap{
    z-index: 99 !important;
}
.brand {
    font-family: 'Megrim', cursive;
}

.cards {
    padding-top: 50px !important;
}

.editCheckbox {
    padding: 10px;
}

#homeLogo, #getIndexMap, #amenityBtn, #addAptBtn, #footerBrand {
    font-size: 2em;
}

#loginImg {
    background-image: url('../images/downtown.jpg') !important;
}

#loginLogo {
    z-index: 1 !important;
    color: white !important;
    padding-top: 50px;
}

#homeIntroP {
    font-size: 1.8em;
    padding-top: 50px;
}

#mapLogin {
    padding-bottom: 25px;
}

.nav-link {
    font-size: 1em !important
}

#editForm {
    top: 50% !important;
}

.form-group {
    padding-bottom: 10px !important;
}

option {
    font-weight: bold !important;
    color: #fa7a50 !important;
}

#editLink, #delLink {
    color: #fa7a50 !important;
}

#apartmentSearch, .editForm {
    border-color: #fa7a50 !important;
    border-width: 2px !important;
}

#logoutBtn {
    opacity: .8 !important;
}

    #logoutBtn:hover {
        background-color: white !important;
        opacity: .6 !important;
        color: #fa7a50 !important;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 420px) {
    #homeIntroP {
        font-size: 1.2em;
    }
}
