
@model APT615.Models.Apartment

@{
    ViewData["Title"] = "Edit";
}
<div class="sections-page">
    <div class="wrapper">
        <div class="header-2">
            <div class="cd-section" id="headers">
                <div class="page-header header-filter">
                    <div class="page-header-image" data-parallax="true" style="background-image: url('../../images/floorplanDark.jpg') ;"></div>
                    <div class="content-center">
                        <div class="container" data-color="orange">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">@Html.DisplayFor(model => model.Name)</h1>
                                </div>
                                <div class="col-md-10 ml-auto mr-auto">
                                    <div class="card card-raised card-form-horizontal card-plain" data-background-color>
                                        <div class="card-body">
                                            <form asp-action="Edit">
                                                <div class="row">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="ApartmentId" />
                                                    <div class=" col-md-3">
                                                        <div class="form-group">
                                                            <label asp-for="Rent" class="control-label">Monthly Rent</label>
                                                            <input asp-for="Rent" class="form-control form-control-lg text-center" />
                                                            <span asp-validation-for="Rent" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-3">
                                                        <div class="form-group">
                                                            <label asp-for="MiscFees" class="control-label">Monthly Fees</label>
                                                            <input asp-for="MiscFees" class="form-control form-control-lg text-center " />
                                                            <span asp-validation-for="MiscFees" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Note" class="control-label">Notes</label>
                                                    <textarea  asp-for="Note" class="form-control form-control-lg text-cente " rows="4"></textarea>
                                                    <span asp-validation-for="Note" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label class="control-label">
                                                            <input asp-for="Favorited" /> @Html.DisplayNameFor(model => model.Favorited)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label class="control-label">
                                                            <input asp-for="Visited" /> @Html.DisplayNameFor(model => model.Visited)
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="card-footer form-group text-center">
                                                    <input id="addAptBtn" value="Save" type="submit" class="btn btn-primary btn-round btn-lg btn-block brand">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="text-center">
                                            <a asp-action="Index">Back to List</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
