@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="login-page">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url('../images/downtown.jpg')"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form" auto-complete="something-new">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="~/images/Logo.png" alt="APT615 Logo">
                                </div>
                                <h4>Create a new account.</h4>
                                <hr />
                            </div>
                            <div class="card-body">
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                    <input asp-for="Email" class="form-control" placeholder="email" />
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                                    </div>
                                    <input asp-for="Password" class="form-control" placeholder="password" />
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                                    </div>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="confirm password" />
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                    </div>
                                    <input asp-for="FirstName" class="form-control" placeholder="first name" />
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                    </div>
                                    <input asp-for="LastName" class="form-control" placeholder="last name" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

